
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background: url(./img/bde6318c2ddb21b6c809490591ea6451.jfif);
    background-size: 100vw;
    height: 95vh;
}
header{
    width: 95vw;
    height: 101px;
    background-color: black;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
nav img{
    padding: 10px;
    margin: 20px;
    width: 60px;
    height: 55px;
    transition: .3s;
    border: hidden;
    border-radius: 8px;
}
nav img:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.064);
}
nav a{
    color: snow;
    text-decoration: none;
    margin-top: 20px;
    padding: 20px;
    padding-top: 25px;
    border-radius: 10px;
    transition: 1s;
}
nav a:hover{
    background-color: rgba(103, 103, 103, 0.502);
}
main{
    width: 1100px;
    height: 860px;
    text-align: center;
    margin: 80px;
    padding-bottom: 30px;
    background-color: black;
    color: snow;
    border-radius: 10px;
}
main .p{
    width: 1100px;
    height: 42px;
    font-weight: 555;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .2rem;
    margin-top: 10px;
}
main h1{
    width: 1100px;
    height: 78px;
    font-weight: 650;
    line-height: 78px;
    letter-spacing: 10px;
    font-size: 64px;
    color: #FD7D54;
}
main ul,li{
    text-align: left;
}
span{
    position: relative;
    right: 5.5rem;
}
.offer{
    display: flex;
}
.offer p{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 195, 0);
    color: black;
    font-weight: 500;
}
.offer a{
    font-size: 23px;
}
.offer h4{
    font-size: 24px;
    margin-bottom: 10px;
}
.offer1,.offer2,.offer3{
    border: 3px snow solid;
    width: 350px;
    height: 665px;
    padding: 25px;
    margin: 20px;
}
.offer1 .exp{
    position: relative;
    top: 170px;
}
.offer2 .exp{
    position: relative;
    top: 95px;
}
.offer3 .exp{
    position: relative;
    top: 78px;
}
.circle{
    margin: 0 auto;
    
}
.circle img{
    width: 230px;
    margin-bottom: 20px;
}
.exp{
    color: #41c3f6;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 20px;
    position: relative;
    top: 7%;
    cursor: pointer;
    position: relative;
    left: 1.8rem;
}
.exp:hover{
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    background-color: black;
    width: 95vw;
    height: 50px;
}
footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}
::-webkit-scrollbar{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: rgba(75, 75, 75, 0.404);
    
}
::-webkit-scrollbar-button{
    background-color: rgb(117, 117, 117);
}
::-webkit-scrollbar-corner{
    background-color: rgb(52, 52, 52);
}